@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
.page-projects {
  display: block;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #272643 0%,
    #272643 50%,
    #272643 50%,
    #f2f3f4 50%,
    #f2f3f4 100%
  ); /* W3C */
}

.proj-ex {
  display: flex;
  justify-content: center;
  margin-left: 20%;

  img {
    margin-bottom: 30px;
  }

  h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 0;
  }

  p {
    font-family: "Work Sans", sans-serif;
  }
}

.proj-head {
  h1 {
    color: blanchedalmond;
    text-align: center;
    font-size: 5em;
    font-family: "Work Sans", sans-serif;
    font-weight: 50;
    color: white;
  }
}

.proj-text {
  align-items: center;
  vertical-align: center;
  margin: 30px;
  width: 80%;
}

.col-white {
  color: #f2f3f4;
}
