@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap");
body {
  margin: 0;
  background-color: #f2f3f4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 23px;
  font-family: "Work Sans", sans-serif;
  position: relative;
}

nav a {
  color: rgb(37, 30, 37);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.main-one {
  display: flex;
  height: 99vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5em;
  background: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  background-color: #0cbaba;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  margin-top: -1em;
}

.main-one {
  p {
    float: right;
    font-size: 1.5em;
    font-family: "Work Sans", sans-serif;
    margin-top: -2em;
    color: rgb(36, 33, 33);
    }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#section05 {
  background: url(https://www.nxworld.net/example/css-scroll-down-button/bg05.jpg)
    center center / cover no-repeat;
}

//For scroll button
.box{

}
#section05 a span {
  position: absolute;
  margin-top: 10em;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(36, 33, 33);
  border-bottom: 1px solid rgb(36, 33, 33);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
